Flask==1.0
GeoAlchemy2==0.2.4
Jinja2==2.11.3
MarkupSafe==0.23
SQLAlchemy==0.9.4
Werkzeug==0.15.3
argh==0.24.1
argparse==1.2.1
beautifulsoup4==4.3.2
itsdangerous==0.24
osmapi==0.3.0
requests==2.20.0
wsgiref==0.1.2
mysql-connector-python==1.1.6
